@import './variables.scss';

.ingredient-list {

    // grid-template-columns: 200px 200px;
    // column-gap: 10px;
    // margin: 15px;
    width: auto;


    &__ingredient {
        margin: 1em;
        padding: 1em;
        transition: box-shadow .3s;
        width: auto;
        // width: 85%;
        // height: fit-content;
        // margin: 15px;
        // padding: 15px;
        // background: #fff;
        // float: left;
        @include brand-box-border;

        &:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        }

    }

    &__name {
        @include brand-box;
        position: relative;
        top: -37px;
        left: -20px;
        padding: 1em;
        font-size: 20px;
        font-weight: bold;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100%;
    }

    @media only screen and (min-width: 468px) and (max-width: 991px) {
        // grid-template-columns: 33% 33% 33%;

    }

    @media only screen and (min-width: 992px) {
        // grid-template-columns: 25% 25% 25% 25%;

        &__ingredient {
            img {
                // height: 200px;
                // width: 200px;
            }
        }
    }
}