@import "../styles/variables.scss";
@import "../styles/global.scss";

.recipes {

    margin: 1em;

    &__info {
            @include brand-text-pink;
            font-weight: bold
        }

    &__name {
        @include title;
        margin-top: 2em;
    }

    img {
        border-radius: 25px;
    }

    @media only screen and (max-width: 720px) {
        img {
            width: 100%;
        }
    }
}